* {
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 800px;
    margin: 0 auto;
    background-color:rgb(56, 104, 195);
    padding-left: 37px;
}

#nav {
    width: 180px;
    float: left;
    background-color: rgb(172, 223, 255);
    padding-top: 2%;
    margin-left: 10px;
    padding-left: 10px;
    padding-bottom: 252px;
}

#nav li {
    margin-top: 0;
}

#nav h2 {
    text-align: center;
}

#content {
    text-align: center;
    background-color: rgb(107, 176, 244);
    padding-top: 2%;
	margin: 0 2em 0 200px;
    width: 550px;
}

#content li {
    list-style-type: none;
}

.copyright{
    clear: both;
    background-color: rgb(56, 104, 195);
    text-align: center;
    padding: 1em;
}
